@font-face {
    font-family: AvenirNextRoundedProDemi;
    src: url('../fonts/AvenirNextRoundedProDemi.TTF');
}

@font-face {
    font-family: AvenirNextRoundedProBold;
    src: url('../fonts/AvenirNextRoundedProBold.TTF');
}