@media (min-width: 1600px) {}

@media (max-width: 1200px) {}

@media (min-width: 993px) {}

@media (max-width: 1236px) and (min-width: 992px) {
    .socialMedia-Sign-button{
        padding: 0;
        margin-right: 10px !important;
    }
    .socialMedia-Sign-button p{
        font-size: 12px !important;
    }
}
@media (max-width: 992px) {

    /* Navbar */
    .navbar {
        background-color: #2766F0 !important;
    }

    .nav-link {
        color: white !important;
        font-weight: 600 !important;
    }

    .activeNavLink {
        color: white !important;
    }

    .btn-sign-in {
        border-color: white !important;
        color: white !important;
    }

}

@media (max-width: 991px) and (min-width: 768px) {
    /* Common */
    h1 {
        font-size: 2rem;
    }
    p{
        font-size: 14px;
    }
    /* Section - 1 */
    .section-1-bg {
        margin-top: 0;
    }

    .section-1-content-txt {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 40px;
    }

    /* Section - 2 */
    .section-2-img {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }

    /* Section - 4 */
    .section-4-img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Register Page */
    .login-register-form-col{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    label{
        font-size: 12px !important;
    }

    /* Login */
    .socialMedia-Sign-button{
        padding: 0;
        margin-right: 10px !important;
    }
    .socialMedia-Sign-button p{
        font-size: 10px !important;
    }

}

@media (max-width: 840px) and (min-width: 768px) {}

@media (max-width:769px) {}

@media (max-width:769px) {}

@media (max-width:767px) {
    /* Common */
    h3{
        font-size: 1.1rem;
    }

    /* Section - 3 */
    .section-3-card{
        margin: 0px !important;
    }

    /* Login */
    .login-register-img-col {
        margin-top: 50px;
        background-color: #F7F9FE;
        height: 400px;
    }
    .register-img{
        width: 50% !important;
    }

    .login-register-form-col{
        margin-top: 0px !important;
    }

    .socialMedia-Sign-button{
        margin-top: 15px !important;
    }
}


@media (max-width:680px) {}

@media (max-width:580px) {
    
    /* Section - 3 */
    .section-3{
        padding: 10px !important;
    }
    .section-3-card{
        margin: 0px !important;
    }

    /* Login */
    .login-register-img-col {
        height: 300px;
    }
    .register-img{
        width: 50% !important;
    }
}

/* New */
@media (max-width:575px) {
    /* Section - 1 */
    .section-1-content-txt{
        padding-top: 0px !important;
    }

    /* Section - 3 */
    .section-3-card{
        margin: 0px !important;
    }
    
}

/* New */
@media (max-width:494px) {
    /* Common */
    h1{
        font-size: 1.5rem;
    }
    
    /* Section - 1 */
    .section-1-content-txt{
        padding-top: 20px !important;
        padding-left: 10px !important;
        padding-right: 40px !important;
    }
    .section-1-img-row{
        margin: 0px !important;
    }

    /* Section - 2 */
    .section-2-txt-col{
        padding-top: 0px !important;
    }

    /* Section - 4 */
    .section-4-txt-col{
        padding-top: 0px !important;
    }
}

@media (max-width:480px) {

    /* Login */
    .login-register-img-col {
        height: 200px;
    }
    .register-img{
        width: 55% !important;
    }

    /* Password Reset */
    #pwResetFormCol{
        padding: 10px !important;
    }
}

@media (max-width:380px) {
    p{
        font-size: 14px !important;
    }
    .login-register-form-col{
        padding: 20px !important;
    }
    .socialMedia-Sign-button{
        padding: 0;
    }
}

@media (max-width:370px) {}

@media (min-width: 770px) and (max-width: 790px) {}

@media (max-width: 991px) and (min-width: 768px) {}

@media(max-width: 1299px) and (min-width: 1200px) {}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

    /* Styles */
    #soundrental_tbl {
        border: 0px;
    }

    #pianotuning_tbl {
        border: 0px;
    }

    #prostudio_tbl {
        border: 0px;
    }

    #musiclesion_tbl {
        border: 0px;
    }

    #b11 {
        display: none;
    }

    #b12 {
        display: none;
    }

    #b13 {
        display: none;
    }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */

}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3) {}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {}

@media only screen and (min-width : 375px) {}

@media only screen and (min-width : 360px) {}

@media only screen and (min-width : 425px) {}

@media (max-width:767px) {}

@media only screen and (min-width : 1024px) {}

@media only screen and (max-width : 425px) {}

@media only screen and (max-width : 455px) {}

@media only screen and (max-width : 414px) {}

@media only screen and (max-width : 411px) {}

@media only screen and (max-width : 375px) {}

@media only screen and (max-width : 360px) {}

@media only screen and (max-width : 320px) {}